* { 
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 1rem;
}

h1 {
	text-align: center;
}

/* LIST */

.list {
	width: 100%;
}

.list-item {
	width: 100%;
}

.list-item > p {
	padding: 0.5rem;
}

input.list-item {
	font-size: 1rem;
	padding: 0.5rem;
	width: 100%;
}

.list-item:focus {
	background-color: black;
	color: white;
}

/* FOOTER */

footer {
	position: fixed;
	display: table;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: lightgray;
	font-weight: bold;
	font-size: 0.9rem;
}

.footer-left, .footer-center, .footer-right {
	display: table-cell;
	width: 33.3%;
	padding: 0.5rem;
}

.footer-left {
	text-align: left;
}

.footer-center {
	text-align: center;
}

.footer-right {
	text-align: right;
}

/* HEADER */

header {
	padding: 0.3rem;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
}

header > h1 {
	padding: 0;
	font-size: 1.2rem;
	font-weight: bold;
}

/* LOADER */

#loader {
	width: 100%;
	padding: 1rem;
	text-align: center;
}

/* CONNECTION SECTION */

.section {
	padding: 0.5em;
}

.section > h1 {
	font-size: 0.9em;
}

.section-time {
	font-weight: bold;
}

.section-stop {
	margin-left: 1em;
	font-size: 0.9em;
}